/* .navbar {
  display: flex;
  background-color: #010409;
  width: 100%;
  padding: 10px;
  color: white;
  justify-content: space-between;
} */
.App {
  display: flex;
  width: 100vw;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signin_box {
  display: flex;
  
  position: absolute;
  top: 30px;
  flex-direction: column;
}
.signin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  font-size: 14px;
  line-height: 21px;
  margin: 16px 0 0 0;
  padding: 16px;
  width: 308px;
  height: 218.4px;
  background-color: #161b22;
}
.signin > label {
  color: #e6edf3;
}
.sign_btn {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #238636;
  font-weight: 500;
  border-radius: 6px;
  height: 31.6px;
  width: 274;
  padding: 5px 16px 5px 16px;
  text-decoration: none;
  border: 1px solid;
}
.inp {
  background-color: #0d1117;
  border: 1px solid #2f81f7;
  color: #e6edf3;
  font-size: 14px;
  background-repeat: none;
  border-radius: 6px;
  cursor: text;
  margin: 4px 0 16px 0;
  padding: 5px 12px 5px 12px;
}
.inp[type="text"]:focus {
  border: 1px solid #2f81f7;
}
.sigin_heading {
  color: white;
}
.signin_bottom {
  display: flex;
  color: white;
  height: 54.6px;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin: 16px 0 10px 0;
  padding: 16px;
  border: 1px solid #30363d;
}
.signin_bottom > a {
  padding-left: 10px;
  text-decoration: none;
}
